extends base.pug

block content
    h1 Log In
    br
    form(action="/login", method="post")
        +input("text","username","","Username",id="username")
        +input("password","password","","Password",id="password")
        span(width="100%")
                +submit("Log In")
                a.btn.btn-default(href="/register" style="float:right") Register
    if error
        br
        +alert-x-danger(error.message)