extends base.pug

block prepend styles
    link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css", rel="stylesheet")
    link(href="/css/highlight.css" rel="stylesheet")

block content
    h3#pasta-name Click HERE to name your pasta!
    input.form-control.h3.hidden#name-input(placeholder="Default Pasta Name")
    div(id="editor")
    button.btn.btn-primary#b_save(type="button") Save
    button.btn.btn-danger#b_cancel(type="button") Cancel

block append scripts
    script(src="/js/highlight.js")
    script(src="https://cdn.quilljs.com/1.3.6/quill.js")
    script(src="/js/script.js")
    script
        .
            var id, delta, pasta

        if(id)
            .
                id="!{id}"; 

                 
        if(pasta)
            .
                pasta=!{pasta}; 

        .
            renderQuill(true)