extends base.pug

block content
    h1 Register
    br
    form(action="/register", method="post")
        +input("text","username","","Username",id="username")
        +input("password","password","","Password", id="password")
        +input("password","passwordAgain","","Password Again", id="passwordAgain")
        +submit("Register")
    if error
        br
        +alert-x-danger(error.message)
