extends base.pug

block prepend styles
    link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css", rel="stylesheet")
    link(href="/css/highlight.css" rel="stylesheet")

block content
    h1#pasta-name Loading...
    input.form-control.h3.hidden#name-input(placeholder="Default Pasta Name")
    hr
    div(id="editor")

block append scripts
    script(src="/js/highlight.js")
    script(src="https://cdn.quilljs.com/1.3.6/quill.js")
    script.
        var readOnly = true;
    script(src="/js/script.js")
    script
        .
            var id, delta, pasta

        if(id)
            .
                id="!{id}"; 
                 
        if(pasta)
            .
                pasta=!{pasta}; 

        .
            renderQuill()
